<html>

<body>
    <h1>
        <a href="/posts/<%= user %>">
            <%= user %>
        </a>
    </h1>
    <h2>
        <%= message %>
    </h2>
    <p>
        <%= added %>
    </p>
    <button><a href="/">All Posts</a></button>
</body>

</html>